<!-- app/views/construction_sites/new.html.erb -->
<div class="new-construction-site">
  <h1>New Construction Site</h1>

  <!-- Flash Messages -->
  <% if flash[:notice] %>
    <div class="flash notice"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="flash alert"><%= flash[:alert] %></div>
  <% end %>

  <div id="construction_site_form">
    <%= form_with(model: @construction_site, local: true, data: { turbo: false }) do |form| %>
      <div class="field">
        <%= form.label :name, "Name:", for: 'new_construction_site_name' %>
        <%= form.text_field :name, id: 'new_construction_site_name' %>
      </div>

      <div class="field">
        <%= form.label :floors, "Floors:", for: 'new_construction_site_floors' %>
        <%= form.number_field :floors, id: 'new_construction_site_floors' %>
      </div>

      <% if @construction_site.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@construction_site.errors.count, "error") %> stopped this construction site from being created:</h2>
          <ul>
            <% @construction_site.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="actions-container">
        <div class="actions">
          <%= form.submit "Create Construction Site" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
