<div class="edit-requested-delivery">
  <h1>Edit Requested Delivery</h1>
<p>For <%= @construction_site.name %></p>

  <%= form_with(model: [@construction_site, @requested_delivery], local: true) do |form| %>
    <% if @requested_delivery.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@requested_delivery.errors.count, "error") %> prohibited this requested delivery from being saved:</h2>
        <ul>
          <% @requested_delivery.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :number_of_doors, "Number of Doors:", for: 'edit_requested_delivery_number_of_doors' %>
      <%= form.number_field :number_of_doors, id: 'edit_requested_delivery_number_of_doors' %>
    </div>

    <div class="field">
      <%= form.label :delivery_date, "Requested Delivery Date:", for: 'edit_requested_delivery_delivery_date' %>
      <%= form.date_select :delivery_date, { order: [:day, :month, :year] }, id: 'edit_requested_delivery_delivery_date' %>
    </div>

    <div class="field">
      <%= form.label :delivery_time, "Requested Delivery Time:", for: 'edit_requested_delivery_delivery_time' %>
      <%= form.time_select :delivery_time, { include_seconds: false }, id: 'edit_requested_delivery_delivery_time' %>
    </div>

    <div class="actions">
      <%= form.submit "Update Requested Delivery" %>
    </div>
  <% end %>
</div>
