<!-- app/views/delivered_deliveries/edit.html.erb -->

<div class="edit-delivered-delivery">
  <h1>Edit Delivered Delivery</h1>
  <p>For <%= @construction_site.name %></p>

  <%= form_with(model: [@construction_site, @delivered_delivery], local: true) do |form| %>
    <% if @delivered_delivery.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@delivered_delivery.errors.count, "error") %> prohibited this delivered delivery from being saved:</h2>
        <ul>
          <% @delivered_delivery.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :number_of_doors, "Number of Doors:", for: 'edit_delivered_delivery_number_of_doors' %>
      <%= form.number_field :number_of_doors, id: 'edit_delivered_delivery_number_of_doors' %>
    </div>

    <div class="field">
      <%= form.label :delivery_date, "Delivered Date:", for: 'edit_delivered_delivery_delivery_date' %>
      <%= form.date_select :delivery_date, id: 'edit_delivered_delivery_delivery_date', data: { behavior: 'date-input' }, order: [:day, :month, :year] %>
    </div>

    <div class="field">
      <%= form.label :delivery_time, "Delivered Time:", for: 'edit_delivered_delivery_delivery_time' %>
      <%= form.time_select :delivery_time, { include_seconds: false }, { id: 'edit_delivered_delivery_delivery_time' } %>
    </div>

    <div class="actions">
      <%= form.submit "Update Delivered Delivery" %>
    </div>
  <% end %>
</div>
